[paths]
source = src

[run]
branch = true
source =
    src
    tests
parallel = true
data_file = .cache/coverage
omit =
    .venv/*
    */tests/*
    */__main__.py


[report]
show_missing = true
precision = 2
omit = *migrations*
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover
    # Don't complain about missing debug-only code:
    def __repr__
    if self\.debug
    # Don't complain if tests don't hit defensive assertion code:
    raise AssertionError
    raise NotImplementedError
    except DistributionNotFound
    # Don't complain if non-runnable code isn't run:
    if 0:
    if __name__ == .__main__.:
    TYPE_CHECKING